body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 1.3em;
  line-height: 1.5em;
  padding: 20px;
}

img {
  width: 100%;
}

h1 {
  font-size: 4em;
  line-height: 1em;
}

h1 + p {
  padding-bottom: 40px;
}

h2 {
  font-size: 3em;
  line-height: 1.5em;
}

h1 +p,
h2 + p {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  border-top: 2px solid #333;
  padding-top: 40px;
}

h3 {
  line-height: 1.5em;
}

h4,
h4 + ul {
}

h2, h3, h4, h5, h6 {
  padding-top: 20px;
  margin-bottom: 0;
}


a {
  color: #333;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #333;
}

.wrapper {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
}

.def,
h3 + ul strong {
  color: #569efe;
}

@media (max-width: 900px) {
  h1 { font-size: 3em; line-height: 1.2em; }
  h2 { font-size: 2em; line-height: 1.5em; }
  h1 + p, h2 + p { font-size: 1em; line-height: 1.5em; }
}
